<div class="row">
  <div class="col-md-9">
    <div class="row">
      <% @jobs.each do |job| %>
        <div class="col-md-6">
          <section id="jobs">
            <% unless job.expired? %>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><%= job.title %></h3>
              </div>
              <div class="panel-body">
                <p><%= job.location %></p>
                <p><%= job.company.name %></p>
                <% if job.recent? %>
                  <em>Novidade</em><br>
                <% end %>
                  <%= link_to 'Ver mais', job %>
                </div>
              <% end %>
            </div>
          </section>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">
    <aside>
      <h2>Empresas</h2>
      <ul class="list-unstyled">
        <% @companies.each do |company| %>
          <li><%= link_to company.name, company %></li>
          <% if(company.premium?) %>
            <em>Empresa Premium</em>
          <% end %>
        <% end %>
      </ul>
    </aside>
    <aside>
      <h2>Categorias</h2>
      <ul class="list-unstyled">
        <% @categories.each do |category| %>
        <li><%= link_to category.name, category %></li>
        <% end %>
      </ul>
    </aside>
  </div>
</div>
