<h1><%= @job.title %></h1>
<p>
  <%= @job.company.name if @job.company %><br>
  <%= @job.location %><br>
  <%= @job.category.name %><br>
  <%= @job.description %><br>
  <% if @job.featured? %>
    <strong>Vaga em Destaque</strong>
  <% end %>
</p>
