<h1><%= @job.title %></h1>
<p><%= @job.company.name if @job.company %></p>
<p><%= @job.location %></p>
<p><%= @job.category.name %></p>
<p><%= @job.description %></p>
<% if @job.featured? %>
  <p><strong>Vaga em Destaque</strong></p>
<% end %>
<% if @job.expired? %>
  <p><strong>Vaga Expirada</strong></p>
<% end %>
