<h1><%= @job.title %></h1>
<p>
  <%= @job.company.name %><br>
  <%= @job.location %><br>
  <%= @job.category %><br>
  <%= @job.description %><br>
  <% if @job.featured? %>
    <strong>Vaga em Destaque</strong>
  <% end %>
</p>
