<h1><%= @job.title %></h1>
<p>
  <%= @job.company %><br>
  <%= @job.location %><br>
  <%= @job.category %><br>
  <%= @job.description %>

  <% if @job.featured? %>
  Vaga em Destaque
  <% end %>
</p>
