<h1>Emprego Já</h1>
<h2><%= @company.name %></h2>
<p>
  <%= @company.location %><br>
  <%= @company.phone %><br>
  <%= @company.mail %><br>
</p>
<h3>Vagas</h3>
<% @company.jobs.each do |job| %>
<p>
  <%= job.title %><br>
  <%= job.location %><br>
  <%= job.category.name %><br>
  <%= job.description %><br>
</p>
<% end %>
