<h1>Emprego Já</h1>
<h2><%= @company.name %></h2>
  <p><%= @company.location %></p>
  <p><%= @company.phone %></p>
  <p><%= @company.mail %></p>
<h3>Vagas</h3>
<% @company.jobs.each do |job| %>
  <p><%= job.title %></p>
  <p><%= job.location %></p>
  <p><%= job.category.name %></p>
  <p><%= job.description %></p>
<% end %>
