<h1>Emprego Já</h1>
<h2><%= @company.name %></h2>
<p>
  <%= @company.location %><br>
  <%= @company.phone %><br>
  <%= @company.mail %><br>
</p>
<p>
  <% @company.jobs.each do |job| %>
  <%= job.title %>
  <%= job.category %>
  <%= job.description %>
  <%= job.location %>
  <% end %>
</p>
